# package directories
node_modules
jspm_packages

# using yarn, make sure there's no package-lock
package-lock.json

# Serverless directories
.serverless

# esbuild directories
.esbuild

# environment files
.env