# package directories
node_modules
jspm_packages

# using yarn, make sure there's no package-lock
package-lock.json

# yarn boo-boo
yarn-error.log

# Serverless directories
.serverless

# esbuild directories
.esbuild

# environment files
.env

# json mock files
src/functions/authentication/mock.json
src/functions/direction/mock.json
src/functions/healthcheck/mock.json
src/functions/location/mock.json
src/functions/statistics/mock.json